body{
	background-color:#61a4bb;
	margin-left:25%;
	margin-right:25%;
	text-align: center;
}
input{
	margin:1%;
}
img {
   width: 90px;
   height: 90px;
   float: left;
}

#idCard {
   border: 5px solid black;
   height: 14em;
   width: 25em;
   margin-left:15%;
   margin-right:15%;
   margin-top:10%;
   border-radius:25px;
   background-color:#eec4cb;
}
#postFullName{
	font-size: 24px;
	font-family: "Arial Verdana";
}
#postAge, #postPhoneNumber, #postAddress{
	font-size: 14px;
	font-family: "Arial Verdana";
	float:left;
}